.v_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.h_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.v_padding {
    height: 50px;
}

.h_padding {
    width: 50px;
}

#selection_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    border: 1px solid black;
}

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    border-radius: 30px;
    width: 75px;
}

.selection_icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px black solid;
}

#start_icon {
    background-color: yellow;
}

#end_icon {
    background-color: green;
}

#wall_icon {
    background-color: gray;
}

#clear_icon {
    background-color: white;
}

#save {
    width: 100px;
    height: 50px;
    background-color: red;
}

#reset {
    width: 100px;
    height: 50px;
    background-color: white;
}

#play {
    width: 200px;
    height: 50px;
    background-color: red;
}